* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color:#064586 ;
    --color: #BBBE64;
    --padding: 20px;
    --border: 2px solid #064586;
}

@font-face {
    font-family : 'Afacad Flux';
    font-style : normal;
    font-weight : 100;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/afacadflux/v1/9oRgNYYQryMlneUPykRmTuH4ET0fri4I5rJVT_CWHKDZnskVK5edsUwWZaQ.ttf) format('truetype');
    }

body {
    font-family : 'Afacad Flux';
    font-style : normal;
    font-weight : 400;
    color: var(--color);
}
p {
    color: #064586;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
}
.hero h1 {
    font-family: 'Roboto Slab';
    top: 20px;
    text-align: center;
    display: block;
    background-color: var(--background-color);
    opacity: 0.5;
    color: #6AB4A6;
    position: absolute;
}
    
.hero-box {
    padding: var(--padding);
    background-color: var(--background-color); opacity: 0.3;
    position: absolute;
}

.hero-box img {
    float: right;
}
    
.social-media a {
    text-decoration: none;
}