* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color:#064586 ;
    --color: #BBBE64;
    --padding: 20px;
    --border: 2px solid #064586;
}

@font-face {
    font-family : 'Afacad Flux';
    font-style : normal;
    font-weight : 100;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/afacadflux/v1/9oRgNYYQryMlneUPykRmTuH4ET0fri4I5rJVT_CWHKDZnskVK5edsUwWZaQ.ttf) format('truetype');
    }

body {
    font-family : 'Afacad Flux';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    color: var(--color);
}
p {
    color: #064586;
}

.hero {
    background-image: url('../images/river-narrow.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero h1 {
    font-family: 'Roboto Slab';
    text-align: center;
    display: block;
    background-color: var(--background-color);
    color: #6AB4A6;
}
    
.box {
    background-color: var(--background-color);
    position: relative;
}

footer {
    text-decoration: none;
}