* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1500px;
}
:root {
    --primary-color:#064586 ;
    --secondary-color: #BBBE64;
    --accent1-color:#EAF0CE;
    --accent2-color: #6AB4A6;
    --padding: 2rem;
    --border: 2px solid #064586;

}

body {
    font-family : 'Afacad Flux';
    font-style : normal;
    font-weight : 400;
    color: var(--secondary-color);
}

main {
    background-color: var(--primary-color);

}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    border-bottom: 1px solid #064586;
}

nav {
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold ;
}

p {
    color: var(--secondary-color);
}

.hero {
    margin: 1rem;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
}
.hero h1 {
    font-family: 'Roboto Slab';
    top: 60px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: rgba(6,69,134,0.5);
    color: #6AB4A6;
    position: absolute;
}
    
.hero-box {
    width: 60%;
    height: 20%;
    padding: var(--padding);
    background-color: rgba(6,69,134,0.5); 
    position: absolute;
    color: #BBBE64;
}

.hero-box img {
    display: block;
    width: 200px;
    height: auto;
    float: right;
    padding: var(--padding);
}

section {
    margin: 2rem;
    padding: var(--padding);
}

#history {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    color: #BBBE64;

}

.social-media a {
    text-decoration: none;
    
}

footer {
    border-top: 1px solid #064586;
    text-align: center;
}
